@import "../../../styles/variables";

$text-color: white;

:host {
  background-color: $nagel-color;
  transition: background-color $nagel-transition-animation;
  color: $text-color;
  padding: $spacing-m;
  border: none;
  margin: $spacing-s 0px;

  &:hover {
    background-color: $nagel-hover-color;
  }
}
