@import "../../../styles/variables";
@import "../../../styles/mixins";

$header-bottom-padding: 4px;

.video {
  display: block;
  width: 100%;
  text-align: left;
}

h3 {
  @include bottom-divider;

  padding: {
    bottom: $header-bottom-padding;
  }
  color: $nagel-color;
}
