@import '../../../styles/variables';

$dance-min-width: 300px;
$dance-inner-margin: 20px;

h2 {
    color: $nagel-color;
    margin-bottom: 0;
}

.dance-list {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    overflow: auto;

    .dance {
        width: fit-content;
        min-width: $dance-min-width;

    }
    .dance + .dance {
        margin-left: $dance-inner-margin;
    }
}
